.Toolbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #ffffff
}

.Toolbar-container {
    height: 6.5vmin;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
}

.Toolbar-image {
    top: 0;
    left: 0;
    width: 10vmin;
    justify-content: left;
}

.Toolbar-button-right {
    position: relative;
    top: 500;
    left: 500;
}

.Toolbar-button-left {
    position: relative;
}
